<header>
  <section class="logo">
    <img src="../../../assets/img/logo.png">
  </section>

  <nav *ngIf="!isLogged()" class="dash-nav"> <!--*ngIf="!hasTokken()"-->
    <a routerLink="/register">Registrarse</a>
    <a routerLink="/login">Iniciar Sesión</a>
  </nav>

  <nav *ngIf="isLogged()" class="home-nav"> <!--*ngIf="hasTokken()"-->
    <a routerLink="/home">Inicio</a>
    <a routerLink="/catalog">Peliculas</a>
  </nav>

  <article *ngIf="isLogged()" class="home-user"> <!--*ngIf="hasTokken()"-->
    <i class="bi bi-person-fill"></i>
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Bienvenido/a {{userName}}</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/playlist">Mi Lista</a></li>
      <li><a class="dropdown-item" routerLink="/profile">Mi Perfil</a></li>
      <li><a class="dropdown-item" routerLink="/" (click)="logout()">Cerrar Sesión</a></li>
    </ul>
  </article>
</header>