header {
  display: flex;
  background-color: #291c1c;
  position: fixed;
  width: 100%;
  z-index: 1000; // encima de otros elementos
}

.logo img {
  width: auto;
  height: 5em;
  padding-left: 0.7em;
}

.dash-nav{
  display: flex;
  align-items: center;
  justify-content: flex-end; // space-around cuando esten Inicio, Peliculas, etc
  width: 100%;
}

.home-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  font-size: large;

  i {
    margin-right: 0.5em;
  }
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 2em;
  border: 1em solid transparent;
  color: white;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(247, 3, 3, 0.267); // Cambiar el color de fondo al pasar el ratón por encima
  }
}

.home-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 15%;
  color: white;

  .avatar{
    font-size: 2em;
    margin-right: 0.3em;
  }

  .dropdown-menu {
    background-color: #291c1c;
    
    .dropdown-item {
      color: white;
    }

    .dropdown-item:hover {
      background-color: #493b3b;
    }
    
    .dropdown-item:active {
      color: white;
      background-color: #911d1d;
    }
  }

  i {
    margin-right: 0.5em;
  }
}
