<section class="text-custom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="h4 text-uppercase font-weight-bold">Recomendaciones para ti</span>
      </div>
    </div>
  </div>
</section>

<div class="container-card">
  <div class="custom-card" *ngFor="let film of films">
    <div class="container-img">
      <img src="{{film.image}}">
    </div>
    <div class="body-container">
      <h5 class="card-title">{{ film.title }}</h5>
      <a routerLink="/view/{{film.id_film}}" class="btn btn-danger">Ver Detalles</a>  
    </div>
  </div> 
</div>