main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.carousel {
    background-color: lightblue;
    width: 100%;
    height: 50vh;
    overflow: hidden; /* Puedes agregar esta línea */
 }
 
 .carousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
 }
 