<main>
    <section class="add-container">
        <h1 class="text-center">Mi Perfil</h1>

        <i class="bi bi-person-circle"></i>
        
        <div class="container mt-3">
          <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
          <div class="form-group mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name" id="name" name="name">
            <div *ngIf="updateUserForm.get('name')!.hasError('required') && updateUserForm.get('name')!.touched" class="text-danger">
                Nombre es obligatorio
              </div>
          </div>
          <div class="form-group mb-3">
            <label for="surname" class="form-label">Apellidos</label>
            <input class="form-control" formControlName="surname" id="surname" name="surname">
            <div *ngIf="updateUserForm.get('surname')!.hasError('required') && updateUserForm.get('surname')!.touched" class="text-danger">
              Apellidos es obligatorio
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" id="email" name="email">
            <div *ngIf="updateUserForm.get('email')!.hasError('required') && updateUserForm.get('email')!.touched" class="text-danger">
              Email es obligatorio
            </div>
          </div>
          <div class="d-flex justify-content-center links mt-5">
              <button type="submit" [disabled]="updateUserForm.invalid" class="btn btn-success"><i class="bi bi-check-lg"></i>Actualizar</button>
            </div>
            <a class="btn btn-danger" (click)="openModal()"><i class="bi bi-x-lg"></i>Darse de baja</a>
          </form>
        </div>

        <div class="list-users" *ngIf="userType === 'admin'">
          <app-user-list></app-user-list>
        </div>
    </section>

    <div class="modal" #deleteUserModal>
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Baja</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Estás seguro de que deseas darte de baja en FilmVerse?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="deleteUser()" data-bs-dismiss="modal">Darse de baja</button>
            </div>
          </div>
        </div>
    </div>
</main>


