<main>
  <section class="container" *ngIf="movie">
    <section class="movie-info">
      <picture>
        <img [src]="movie.image">
        <span>Duracion: {{ movie.duration }}m</span>
        <span>Categoria: {{categoryName}}</span>
      </picture>
  
      <article class="info">
        <h1>{{ movie.title }}</h1>
        <p>{{ movie.description }}</p>
        <p>Director: {{ movie.director }}</p>
        <p>Año: {{ movie.year }}</p>
        <p>Puntuacion: {{ movie.score }}</p>
      </article>
    </section>

    <section class="buttons">
      <a routerLink="/play" class="btn btn-primary">Ver Pelicula</a>
      <div *ngIf="isAdmin">
        <a routerLink="/edit" class="btn btn-warning">Editar Pelicula</a>
        <a routerLink="/catalog" class="btn btn-danger" >Eliminar Pelicula</a>
      </div>
    </section>
  </section>
</main>

