<main>
    <section class="selection mt-3">
        <select class="form-control custom-select" [(ngModel)]="selectedGenre" (change)="getByIdCategory()">
            <option selected value="0">Seleccionar Género</option>
            <option value="1">Acción</option>
            <option value="2">Aventuras</option>
            <option value="3">Ciencia Ficción</option>
            <option value="4">Comedia</option>
            <option value="5">Documental</option>
            <option value="6">Drama</option>
            <option value="7">Fantasía</option>
            <option value="8">Musical</option>
            <option value="9">Suspense</option>
            <option value="10">Terror</option>
        </select>
    
        <div *ngIf="isAdmin">
            <a routerLink="/add" class="btn btn-secondary"><i class="bi bi-plus"></i>Añadir Pelicula</a>
        </div>
    </section>
  

    <div *ngIf="selectedGenre == 0"  class="container-card">
        <div class="custom-card" *ngFor="let film of films | paginate: { itemsPerPage: elementsPerPage, currentPage: currentPage, totalItems: films.length }">
            <div class="container-img">
                <img [src]="film.image">
            </div>
            <div class="body-container">
                <h5 class="card-title">{{ film.title }}</h5>
                <a routerLink="/view/{{film.id_film}}" class="btn btn-danger"><i class="bi bi-list-ul"></i>Ver Detalles</a>  
            </div>
        </div> 
    </div>

    <div *ngIf="selectedGenre != 0"  class="container-card">
        <div class="custom-card" *ngFor="let film of filmsCategory">
            <div class="container-img">
                <img [src]="film.image">
            </div>
            <div class="body-container">
                <h5 class="card-title">{{ film.title }}</h5>
                <a routerLink="/view/{{film.id_film}}" class="btn btn-danger">Ver Detalles</a>  
            </div>
        </div> 
    </div>
</main>

<pagination-template
  #p="paginationApi"
  (pageChange)="currentPage = $event; onPageChange()">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li *ngFor="let page of p.pages"
          [class.active]="p.getCurrent() === page.value"
          class="page-item">
        <a (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
    </ul>
  </nav>
</pagination-template>

