<main>
    <section class="register-container">
        <h1>Registro</h1>

        <form [formGroup]="registerForm" (ngSubmit)="signUp()" enctype="multipart/form-data">
            <input formControlName="name"  type="text" placeholder="Nombre" name="name"/>
            <input formControlName="surname"  type="text" placeholder="Apellidos" name="surname"/>
            <input formControlName="email"  type="email" placeholder="Correo electrónico" name="email"/>
            <input formControlName="password" type="password" placeholder="Contraseña" name="password"/>

            <button [disabled]="registerForm.invalid"  class="submit" type="submit">Registrar</button>
        </form>
    </section>
</main>