<footer>
    <section class="questions">
        <article class="icons">
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </article>
        <span>¿Preguntas? <i class="bi bi-telephone-forward"></i>000-000-000</span>

        <img src="../../../assets/img/logo.png">
    </section>

    <section class="links">
        <nav>
            <a href="https://www.google.com/">Centro de ayuda</a>
            <a href="https://www.google.com/">Términos de uso</a>
            <a href="https://www.google.com/">Contáctanos</a>
            <a href="https://www.google.com/">Solo en FilmVerse</a>
        </nav>

        <nav>
            <a href="https://www.google.com/">Privacidad</a>
            <a href="https://www.google.com/">Cuenta</a>
            <a href="https://www.google.com/">Preguntas frecuentes</a>
            <a href="https://www.google.com/">Avisos legales</a>
        </nav>
    </section>
</footer>
